<h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p>

<body>
  <div class="container">
    <h1>Stupid Coaching</h1>
    <div class="box-item">
      <h1>Me</h1>
      <h4><%= @query %></h4>
    </div>

    <div class="box-item">
      <h1>Coach</h1>
      <h4><%= @coach %></h4>
    </div>

    <%= link_to 'Ask a question', question_path %>
  </div>

</body>


<!-- def coach_answer(your_message)
  # TODO: return coach answer to your_message
  if your_message.end_with?("?")
    return "Silly question, get dressed and go to work!"
  elsif your_message == "I am going to work right now!"
    return ""
  else
    return "I don't care, get dressed and go to work!"
  end
end

def coach_answer_enhanced(your_message)
  # TODO: return coach answer to your_message, with additional custom rules of yours!
  if your_message == "I AM GOING TO WORK RIGHT NOW!"
    return ""
  elsif your_message == your_message.upcase
    last_message = coach_answer(your_message)
    return "I can feel your motivation! #{last_message}"
  else
    return coach_answer(your_message)
  end
end -->
