<h1>Pages#question</h1>
<p>Find me in app/views/pages/question.html.erb</p>

<body>
  <div class="container">
    <h1>Stupid Coaching</h1>
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" placeholder="what are you going to do?">
      <input type="submit" value="Go on!">
    </form>
  </div>
</body>
